@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="naslov-animate" class="display-4">Aplikacija Za Jela</h1>
    <img class="bg-img" src="https://wallpaperaccess.com/full/271708.jpg">
</div>
