<div class="za-api">
    <input class="input" type="text" autocomplete="off" placeholder="Unesi jelo">
    <button id="dohvati-recept" class="btn">Dohvati recept</button>
</div>
<p id="error-span"></p>


        <div class="main">
            <div class="injected-div2">

            </div>
            <div class="injected-div">

            </div>
        </div>

<script src="~/js/apiRecepti.js"></script>